* {
    background-color: #E6E6E6;
    /*font-family: 'Abel', sans-serif;*/
    /*font-family: 'Anton', sans-serif;*/
}
a {
    color: black;
}

#main-logo  {
    height: 105px;
    width: 105px;
    margin: auto;
    background-color: #F0F0F0;
}

#row2 {
    background-color: #F0F0F0;
}

#codeup-design{
    font-size: 32px;
    font-family: 'Abel', sans-serif;
}
#nav-xs {
    font-family: 'Abel', sans-serif;
}
#h2-xs {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}
#utah {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
}
.bubble {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #F0F0F0;
    height: 95px;
    width: 95px;
    border: 5px solid #F0F0F0;
    border-radius: 50%;
}
#design, #design-text{
    background-color: #e6563b;
}
#develop, #develop-text {
    background-color: #eb9d3a;
}
#support, #support-text {
    background-color: #7cb06c;
}
#host, #host-text {
    background-color: #00aba9;
}