* {
    background-color: #F0F0F0;
    /*font-family: 'Abel', sans-serif;*/
    /*font-family: 'Anton', sans-serif;*/
}
a {
    color: black;
}

#main-logo  {
    height: 105px;
    width: 105px;
    margin: auto;
    background-color: #ffffff;
}

#row2 {
    background-color: #ffffff;
}

#codeup-design{
    font-size: 32px;
    font-family: 'Abel', sans-serif;
}
#nav-xs {
    font-family: 'Abel', sans-serif;
}
#h2-xs {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}
#utah {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
}
.bubble {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #F0F0F0;
    height: 105px;
    width: 105px;
    border: 5px solid #ffffff;
    margin: 10px;
}
#design, #design-text, #d1, #d1-text{
    background-color: #e6563b;
}
#develop, #develop-text, #d2, #d2-text {
    background-color: #eb9d3a;
}
#support, #support-text, #s, #s-text {
    background-color: #7cb06c;
}
#host, #host-text, #h, #h-text {
    background-color: #00aba9;
}
#selected-work, #featured-project {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}
.small-bubble {
    font-family: 'Anton', sans-serif;
    font-size: 10px;
    width: 18px;
    height: 18px;
}
#apple-ipad-image {
    width: 100%;
    height: auto;
    border: 8px solid #e6e6e6;
    border-radius: 5px;
}


